 /************************************************************************
 * Copyright 2021-2023 Ben Keppel                                        *
 *                                                                       *
 * This program is free software: you can redistribute it and/or modify  *
 * it under the terms of the GNU General Public License as published by  *
 * the Free Software Foundation, either version 3 of the License, or     *
 * (at your option) any later version.                                   *
 *                                                                       *
 * This program is distributed in the hope that it will be useful,       *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of        *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         *
 * GNU General Public License for more details.                          *
 *                                                                       *
 * You should have received a copy of the GNU General Public License     *
 * along with this program.  If not, see <http://www.gnu.org/licenses/>. *
 ************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

* {
    font-family: Chokokutai, serif;
    color: #ff0000;
    cursor: none !important;
}

#send {
    padding-left: 7px;
}

#notbody {
    top: 47vh;
    bottom: 47vh;
    left: 0px;
    right: 0px;
    background-color: black;
}

h1 {
    cursor: default;
}

button {
    color: lime;
    background-color: #ffffff;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

button:active {
    box-shadow: 1px 1px 5px black inset !important;
    background-color: #ffffff !important;
}

.chonk {
    padding: 5px;
    font-size: 50pt;
    font-weight: 1200;
}

.widest {
    flex-grow: 1;
}

button:hover {
    background-color: #eeeeee;
}

.dangerous {
    background-color: crimson;
}

.bleu {
    background: #0075db;
}

.bleu:hover {
    background: #005baa;
}

.dangerous:hover {
    background-color: #770000;
}

.bleu:active {
    box-shadow: 1px 1px 5px black inset !important;
    background-color: #0075db !important;
}

.dangerous:active {
    box-shadow: 1px 1px 5px black inset !important;
    background-color: crimson !important;
}

.centred {
    width: 50vh;
}

.popup {
    min-width: min-content !important;
    max-width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 0px solid #888888;
    border-radius: 5px;
    background: lightseagreen;
    box-shadow: 0px 0px 20px springgreen;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 5px;
    margin: auto;
}

.popupParent {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(69, 4, 20, 0.5);
}

#inviteparent {
    background-image: url(swim1.png);
    background-size: cover;
    background-position: center;
    background-color: #dadada;
}

#inviteparent img {
    cursor: default;
}

#lit2 {
    min-width: min-content;
}

#loadingScreen {
    background: #eeeeee;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

#loadingText {
    width: fit-content;
    height: fit-content;
    font-size: xx-large;
}

#p {
    overflow: auto;
    width: min-content;
    max-width: 90vw;
    max-height: 90vh;
    background-color: darkkhaki;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 2s linear;
}

#accountInfo {
    position: absolute;
    box-shadow: 0px 0px 12px cornflowerblue;
    right: 8px;
    top: 70px;
}

code {
    font-family: "Ubuntu Mono", "Lucida Sans", monospace, mono;
    background-color: #aaaaaa;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 2px;
}

pre > code {
    border: 0px solid transparent;
    background-color: transparent;
    padding: 0px;
}

pre {
    background-color: #aaaaaa;
    border: 2px solid #888888;
    border-radius: 5px;
    padding: 3px;
}

a {
    color: #4aa9fc;
}

blockquote {
    border-left: 3px solid #888888;
    margin-left: 0;
    padding: 5px;
}

table, th, td {
    width: min-content;
    /*border: 1px solid;*/
}

table {
    background: #272727;
    border-radius: 5px;
}

th, td {
    padding: 5px;
    border-radius: 4px;
    background: linear-gradient(#ffffff, #f0f0f0);
}

blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
}

a > h1 {
    color: navy;
    text-decoration: none;
    display: inline;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 48px;
}

body {
    padding: 0px;
    margin: 0px;
    padding-top: 7px;
}

header {
    color: #f0f0f0;
    background: linear-gradient(#e0e0e0, #dadada);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    height: fit-content;
    border-bottom: 1px solid #888888;
}

header h1 {
    text-decoration: none;
}

body {
    background-color: #e0e0e0;
    width: 100%;
    height: 100%;
}

#actualpagecontainer {
    min-height: 0;
    flex-grow: 1;
    display: flex;
}

input, textarea {
    background-color: chocolate;
    color: #ffffff;
    border: 1px solid #0075db;
    border-radius: 5px;
}

textarea {
    resize: none;
}

input {
    margin: 2px;
}

#everything {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 0;
    position: absolute;
}

.mainpage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#actualPage {
    display: flex;
    flex-direction: row;
    min-height: 0;
    height: 100%;
    margin: auto;
    justify-self: stretch;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: inset 0px 0px 15px brown;
}

.sidePane {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    flex-grow: 0;
    flex-shrink: 0;
}

#left {
    background: linear-gradient(to right, green, yellow);
}

#right {
    background: linear-gradient(to right, yellow, green);
}

#loadMoreMessages {
    width: fit-content;
    align-self: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

#mainContent {
    padding: 0px;
    margin: 0px;
    background: #c8c8c8;
    display: flex;
    flex-direction: column;
    gap: 3px;
    bottom: 30pt;
    min-height: 0;
}

#messageArea {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#mainContentContainer {
    padding: 0px;
    margin: 0px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
}

.sericon {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
}

.sericon img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid navy;
    background: #ffffff;
}

.sericon:hover {
    background: #662679;
    border: 4px solid chartreuse;
}

.invisibutton {
    background: transparent;
    border: transparent;
    flex: 0 0;
}

.padded {
    padding: 5px;
}

#msgtxt {
    object-fit: fill;
    resize: none;
    flex-grow: 1;
    font-weight: normal;
}

.msgbtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid navy;
    /*background: #171717;*/
    cursor: pointer;
    object-fit: cover;
    align-self: center;
}

#longMessageBoxContainer {
    justify-content: stretch;
    align-items: stretch;
    align-self: stretch;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: flex;
    /*right: 10px;
    left: 10px;*/
    gap: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(69, 4, 20, 0.5);
    background: transparent;
    cursor: pointer;
    object-fit: cover;
}

#left .avatar {
    width: 48px;
    height: 48px;
    border-radius: 25%;
}

#acsusername {
    font-size: 16pt;
    font-weight: 900;
    margin-left: 10px;
    margin-right: 10px;
}

.message1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 5px;
    gap: 5px;
    border: 0px solid transparent;
}

.timestomp {
    color: blue;
    display: none;
}

#longMessageBoxContainer .material-symbols-outlined {
    font-size: 8px !important;
    text-align: center;
    height: 100%;
    width: 100%;
}

.message1.hover .timestomp, .message1:hover .timestomp {
    display: unset;
}

.popupParent * {
    cursor: not-allowed !important;
}

hr {
    border: 2px solid #888888;
    width: 100%;
}

.message1:hover {
    background-color: lime;
}

.message1:hover * {
    color: transparent;
}

.message2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    right: 0px;
    min-width: 0px;
}

.message2 p,b,i,strong,em {
    min-width: 0px;
    overflow-wrap: break-word;
}

.message2 img {
    border-radius: 8px;
    box-shadow: 2px 2px 10px chocolate;
    height: 20vh;
    padding: 1px;
    background-color: #bbbbbb;
}

.neetro {
    border-radius: 8px;
    box-shadow: 2px 2px 10px black;
    height: 20vh;
    padding: 1px;
    background-color: #bbbbbb;
}

.message2 a {
    width: fit-content;
}

.message3 {
    opacity: 0;
    display: none;
    width: fit-content;
    height: fit-content;
    top: 0px;
    bottom: 0px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px;
    padding-left: 0px;
    gap: 3px;
}

.message3 button {
    padding: 3px;
}

@media only screen and (min-width: 768px) {
    .message3 {
        display: flex;
        opacity: 0;
        flex-direction: row;
        justify-content: flex-start;
    }

    .message3 * {
        height: fit-content;
    }
}

.message1.pulsating {
    animation: pulse 5s ease-in-out 0s alternate 3 none running;
}

.upload {
    padding: 3px;
    padding-right: 6px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    border: 1px solid blueviolet;
    box-shadow: 1px 1px 5px chocolate;
    align-content: center;
    border-radius: 5px;
    width: fit-content;
}

@keyframes pulse {
    0% {
      background-color: #f0f0f0;
    }
    50% {
        background-color: lightseagreen;
    }
    100% {
      background-color: #f0f0f0;
    }
  }

* {
    max-width: 100%;
}

.message2 * {
    overflow-wrap: break-word;
}

.message1:hover .message3, .message1.hover .message3 {
    opacity: 1;
    display: flex;
}

.message2 > p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.invalidUser {
    color: #220000;
    background: rgba(255, 102, 102, 0.2);
    padding: 4px;
    /*border: 1px solid #880000;*/
    border-radius: 5px;
    cursor: not-allowed;
}

.userMention {
    color: #002200;
    background: rgba(96, 192, 255, 0.2);
    padding: 4px;
    /*border: 1px solid #880000;*/
    border-radius: 5px;
    cursor: pointer;
}

#page {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

#progress {
    position: relative;
    right: 0px;
    left: 0px;
    min-width: 0;
    max-width: 100vw;
    background-color: #dedede;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    text-align: center;
}

#progress > div {
    background-color: #0075db;
    border-radius: 5px;
    position: sticky;
    top: 2px;
    bottom: 2px;
    left: 10px;
    height: 10px;
}

#fileDeleteMessage {
    padding-left: 5px;
    border-top: 1px solid goldenrod;
}

#fileUploadSpace > img {
    margin: 5px;
}

#fileUploadSpace > text {
    display: none;
}

#fileUploadSpace:empty {
    display: none;
}

::-webkit-scrollbar {
    background-color: #e8e;
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: blue;
    width: 10px;
    box-shadow: 0 0 5px grey; 
}

:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
    box-shadow: 0px 0px 3px chocolate !important;
}

.banner {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

#serverName, #serverName * {
    min-width: min-content;
}

#banner > span {
    min-width: fit-content;
}

.textBox {
    opacity: 0;
}

.textBox:focus {
    background-color: #f3f3f3;
    border: 1px solid #0e3f12;
}

.labelInDisguise {
    background: none;
    border: none;
    color: black;
    max-width: max-content;
}

.labelInDisguise:focus {
    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px #dedede inset;
    border: 1px solid #0075db;
    border-radius: 5px;
}

#changePfp:hover {
    opacity: 25%;
}

/*******************************************************************
*                                                                  *
*                  Some random loading animation                   *
*                     I found on the internet                      *
*                                                                  *
*******************************************************************/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
